<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138744168-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-138744168-1');
    </script>
    


    <meta charset="UTF-8" />

    <!-- Mobile Specific Meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon-->
    <link
      rel="shortcut icon" href="{{url_for('static', filename='icon.png')}}"
    />
    <!-- Author Meta -->
    <meta name="author" content="medinprint" />
    <!-- Meta Description -->
    {% if post.post_summary %}
    <meta
      name="description"
      content="{{post.post_summary}}"
    />
    {% else %}
    <meta
      name="description"
      content="Medinprint is a portal for dissemination of Educational related information, articles on Health, solutions and general Life hacks!"
    />
    {% endif %}
    {% if post.category %}
      
      <meta name="keywords" content="{% for cat in post.category.all() %}{{ cat.cat_name + ', ' }}{% endfor %}" />
      
    {% else %}
    <!-- Meta Keyword -->
    <meta name="keywords" content="medinprint, how to, hacks, solutions, job, sales and marketing, productiond, medical, articles, health" />
    <!-- meta character set -->
    {% endif %}

    {% if post.featured_img %}
    <meta property="og:image" content="{{url_for('static', filename='uploads' + post.featured_img)}}">
  {% endif %}
    
    <!-- Site Title -->
    <title>{{ title }}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700"
      rel="stylesheet"
    />
    <!--CSS ============================================= -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='public/css/linearicons.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='public/css/font-awesome.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='public/css/bootstrap.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='public/css/magnific-popup.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='public/css/nice-select.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='public/css/animate.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='public/css/owl.carousel.css')}}"
    />
    <!-- <link
      rel="stylesheet"
      href="{{url_for('static', filename='public/css/jquery-ui.css')}}"
    /> -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='public/css/main.css')}}"
    />
  </head>
  <body>
    <header id="header">
          <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#04091E">
              <div class="container">
                <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='mip_light.png') }}" alt="blog title here" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>

                    {%  for navigation in navigations %}
                      {% if navigation.nav_dd == "Yes" %}
                        <li class="nav-item dropdown">
                          <a class=" nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ navigation.nav_name }}
                            {% set current = navigation.nav_name %}
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for navigation in navigations %}
                            {% if navigation.nav_ref == current %}
                              <a class="dropdown-item" href="{{url_for('navigationBar', nav_url =navigation.nav_url )}}">{{ navigation.nav_name}}</a>
                            {% endif %}
                            {% endfor %}
                          </div>
                          </li>
                      {% elif navigation.nav_dd =="No" and navigation.nav_ref == "none" %}
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('navigationBar', nav_url =navigation.nav_url ) }}">{{ navigation.nav_name}}</a>
                      </li>
                      {% endif %}
                    {% endfor %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('about')}}">About Us</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('dashboard')}}">{{ current_user.admin_username }}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                    </li>
                      
                      {%endif%}
                  </ul>
                </div>
              </div>
            </nav>
          
          
          <!-- #nav-menu-container -->

    </header>
    <!-- #header -->
    {% block widget %}
						
    {% endblock widget %}
    <!-- Start post-content Area -->
  <article>
  <section class="post-content-area single-post-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 posts-list">
	        {% block main %}					
				
          {% endblock main %}
          </div>
          <div class="col-lg-4 sidebar-widgets">
            <div class="widget-wrap">
              <div class="single-sidebar-widget search-widget">
                <form class="search-form" action="#">
                  <input
                    placeholder="Search Posts"
                    name="search"
                    type="text"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Search Posts'"
                  />
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
              
              <div class="single-sidebar-widget popular-post-widget">
                  <h4 class="popular-title">Popular Posts</h4>
                  <div class="popular-post-list">
                    {% for popular_post in popular_posts %}
                    {% if (popular_post.comment|length) >= 5 %}
                    <div
                      class="single-post-list d-flex flex-row align-items-center"
                    >
                      <div class="thumb">
                        <a href="{{url_for('post', post_url = popular_post.post_url)}}">
                          <img class="img-fluid img-thumbnail" src="{{url_for('static', filename='uploads/' + popular_post.featured_img)}}" alt="" width="150" height="150" />
                        </a>
                      </div>
                      <div class="details">
                        <a href="{{url_for('post', post_url = popular_post.post_url)}}"
                          ><h6>{{ popular_post.post_title }}</h6></a
                        >
                        <p>
                          {{popular_post.comment|length }}
                          {% if popular_post.comment|length <= 1 %}
                            Comment
                          {%elif popular_post.comment|length > 1 %}
                            Comments
                          {% endif %}

                        </p>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              <div class="single-sidebar-widget user-info-widget">
                <img src="{{ url_for('static', filename='public/img/blog/medinprint.jpg') }}" alt="" />
                <a href="#"><h4>Social Links</h4></a>
                <p>
                  Please Like and Follow our page
                </p>
                <ul class="social-links">
                  <li>
                    <a href="https://fb.me/medinprint" target="_blank"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/medinprint" target="_blank" ><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/medinprint/" target="_blank"><i class="fa fa-instagram"></i></a>
                  </li>
                </ul>
                <p>
                  Keeping you Informed!
                </p>
              </div>

              <div class="single-sidebar-widget ads-widget">
                <a href="#"
                  ><img class="img-fluid" src="{{ url_for('static', filename='public/img/blog/ads-banner.jpg') }}" alt=""
                /></a>
              </div>
              <div class="single-sidebar-widget post-category-widget">
                <h4 class="category-title">Post Categories</h4>
                <ul class="cat-list">

                  {% for category in categories %}
                  <li>
                    <a href="{{ url_for('cat', cat_name=category.cat_name) }}" class="d-flex justify-content-between">
                      <p>{{ category.cat_name }}</p>
                      <p>{{ category.post|length }}</p>
                    </a>
                  </li>
                  {% endfor %}

                </ul>
              </div>
              <div class="single-sidebar-widget newsletter-widget">
                <h4 class="newsletter-title">Newsletter</h4>
                <p>
                  Here, I focus on a range of items and features that we use in
                  life without giving them a second thought.
                </p>
                <div class="form-group d-flex flex-row">
                  <div class="col-autos">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                      </div>
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email"/>
                    </div>
                  </div>
                  <a href="#" class="bbtns">Subcribe</a>
                </div>
                <p class="text-bottom">
                  You can unsubscribe at any time
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
    <!-- End post-content Area -->

    <!-- start footer Area -->
    <footer class="footer-area section-gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h4>About Me</h4>
              <p>
                We have tested a number of registry fix and clean utilities and
                present our top 3 list on our site for your convenience.
              </p>
              <p class="footer-text">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<span id="current_date"></span> <script>
										document.getElementById('current_date').innerHTML = new Date().getFullYear();
                </script>
                <a href="https://medinprint.com" target="_blank">MedInPrint</a>
              </p>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h4>Newsletter</h4>
              <p>Stay updated with our latest trends</p>
              <div class="" id="mc_embed_signup">
                <form target="_blank" action="" method="get">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      name="EMAIL"
                      placeholder="Enter Email Address"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Enter Email Address '"
                      required=""
                      type="email"
                    />
                    <div class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <span class="lnr lnr-arrow-right"></span>
                      </button>
                    </div>
                    <div class="info"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
            <div class="single-footer-widget">
              <h4>Follow Me</h4>
              <p>Let us be social</p>
              <div class="footer-social d-flex align-items-center"> 
                  <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="#" target="_blank" ><i class="fa fa-twitter"></i></a>
                  <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End footer Area -->

    <script src="{{ url_for('static', filename='public/js/vendor/jquery-2.2.4.min.js')}}"></script>
    <script src="{{ url_for('static', filename='public/js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='public/js/vendor/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='public/js/easing.min.js')}}"></script>
    <script src="{{ url_for('static', filename='public/js/hoverIntent.js')}}"></script>
    <script src="{{ url_for('static', filename='public/js/superfish.min.js')}}"></script>
    <script src="{{ url_for('static', filename='public/js/jquery.ajaxchimp.min.js')}}"></script>
    <script src="{{ url_for('static', filename='public/js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{ url_for('static', filename='public/js/jquery.tabs.min.js')}}"></script>
    <script src="{{ url_for('static', filename='public/js/jquery.nice-select.min.js')}}"></script>
    <script src="{{ url_for('static', filename='public/js/isotope.pkgd.min.js')}}"></script>
    <script src="{{ url_for('static', filename='public/js/waypoints.min.js')}}"></script>
    <script src="{{ url_for('static', filename='public/js/jquery.counterup.min.js')}}"></script>
    <script src="{{ url_for('static', filename='public/js/simple-skillbar.js')}}"></script>
    <script src="{{ url_for('static', filename='public/js/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static', filename='public/js/mail-script.js')}}"></script>
    <script src="{{ url_for('static', filename='public/js/main.js')}}"></script>

    {% block script %}

    {% endblock script %}
  </body>
</html>
