{% extends 'admin/layout/template.html' %}
{% block main %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Overview</li>
  </ol>

<!-- flash message -->
  <div class="row">
    <div class="col-md-8 mx-auto">
      {%with messages = get_flashed_messages()%}
      {%if messages%}
        {%for message in messages%}
        <div class='alert alert-success alert-dismissable text-center' role='alert' aria-label="close">
          <button data-dismiss='alert' class='close'>
            <span aria-hidden="true">x</span>
          </button>
          {{message}}
        </div>
        {%endfor%}
      {%endif%}
    {%endwith%}
    </div>
  </div>
  
  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-primary o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-comments"></i>
          </div>
          <div class="mr-5"><h4>{{ admin_count }}  USERS!</h4></div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="#">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-warning o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-list"></i>
          </div>
          <div class="mr-5"><h4>{{post_count}}  POSTS!</h4></div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="{{url_for('viewPost')}}">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-success o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-shopping-cart"></i>
          </div>
          <div class="mr-5"><h4>{{cat_count}}  CATEGORIES!</h4></div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="{{ url_for('category') }}">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-danger o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-life-ring"></i>
          </div>
          <div class="mr-5"><h4>{{comment_count}}  COMMENTS!</h4></div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="{{ url_for('comment') }}">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
 <!-- End of Icon Cards-->


  <!-- DataTables Example -->
<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Most Recent Posts
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>#</th>
            <th>Post Title</th>
            <th>Post Author</th>
            <th>Post Category</th>
            <th>Post Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for latest_post in latest_posts %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ latest_post.post_title }}</td>
            <td>{{ latest_post.author.admin_username }}</td>
            <td>{{ latest_post.category.cat_name }}</td>
            <td>{{ latest_post.post_date.strftime("%B %d , %Y") }}</td>
            <td>
              <a href="{{url_for('newPost', id=latest_post.post_id)}}" class="btn btn-warning">Edit</a>
              <a href="{{ url_for('post_del', del_id=latest_post.post_id)}}" class="btn btn-danger" onclick="return confirm('Do you really want to delete file')">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- recent comments -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Post Comments
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>#</th>
            <th>Commenter</th>
            <th>Email</th>
            <th>Content</th>
            <th>Post Title</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for latest_comment in latest_comments %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ latest_comment.name }}</td>
            <td>{{ latest_comment.email }}</td>
            <td ><div style="width:400px; word-wrap:break-word;">{{ latest_comment.content }}</div></td>
            <td><div style="width:150px; word-wrap:break-word;">{{ latest_comment.post.post_title }}</div></td>
            <td>{{ latest_comment.date.strftime("%B %d , %Y") }}</td>
            <td><a href="{{url_for('del_comment', del_id=latest_comment.id)}}" class="btn btn-danger" onclick="return confirm('Do you really want to delete file')">Delete</a> </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock main %}
