{% extends 'admin/layout/template.html' %}


{% block main %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    Navigation Section
  </li>
  <li class="breadcrumb-item active">View and Add New navigations</li>
</ol>

<!-- DataTables Example -->
<div class="row">

  <div class="col-md-8 mx-auto">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>
        navigation Table
        {%with messages = get_flashed_messages(with_categories=True)%}
          {%if messages%}
            {%for navigation, message in messages%}
            <div class='alert alert-{{navigation}} alert-dismissable text-center' role='alert' aria-label="close">
              <button data-dismiss='alert' class='close'>
                <span aria-hidden="true">x</span>
              </button>
              {{message}}
            </div>
            {%endfor%}
          {%endif%}
        {%endwith%}
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>nav ID</th>
                <th>navigation</th>
                <th>navigation Url</th>
                <th>navigation drop-down</th>
                <th>navigation Ref</th>
                <th>Date Added</th>
                <th>Action</th>
              </tr>
            </thead>
            
              {%for navigation in navigations%}
              <tr>
                <td>{{loop.index}}</td>
                <td>{{navigation.nav_name}}</td>
                <td>{{navigation.nav_url }}</td>
                <td>{{navigation.nav_dd }}</td>
                <td>{{navigation.nav_ref }}</td>
                <td>{{navigation.date_added.strftime("%B %d , %Y") }}</td>
                <td>
                  <a href="/edit/{{navigation.nav_id}}" class="btn btn-warning btn-xs" data-toggle="modal"
                    data-target="#navEditForm{{ navigation.nav_id }}">Edit</a>

                  <a href="{{url_for('del_navigation', del_id=navigation.nav_id)}}" class="btn btn-danger btn-xs"
                    onclick="return confirm('are you sure you want to delete?')">delete</a>
                </td>
              </tr>

              <!-- the edit navigation modal form -->
              <div class="modal fade" id="navEditForm{{ navigation.nav_id }}" tabindex="-1" role="dialog"
                aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header text-center">
                      <h4 class="modal-title w-100 font-weight-bold">Edit navigation</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form action="{{ url_for('navigation') }}" method="POST" id="navForm">
                      <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                          <input type="hidden" name="nav_id" value="{{ navigation.nav_id }}">
                          <input type="text" id="orangeForm-name" name='nav_name' class="form-control validate"
                            value="{{ navigation.nav_name }}">
                          <label data-error="wrong" data-success="right" for="orangeForm-name">
                            navigation Name
                          </label>
                        </div>
                        <div class="md-form mb-5">
                          <input type="text" id="orangeForm-email" name="nav_url" class="form-control validate"
                            value="{{ navigation.nav_url }}">
                          <label data-error="wrong" data-success="right" for="orangeForm-email">
                            navigation URL
                          </label>
                        </div>
                        <div class="md-form mb-5">
                          <select name="nav_dd" id="nav_dd" class="form-control validate" required>
                            <option value="" default>select...</option>
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                          </select>
                          <label data-error="wrong" data-success="right" for="orangeForm-email">
                            make drop-down
                          </label>
                        </div>
                        <div class="md-form mb-5" id="ref2">
                          <select name="nav_ref" id="nav_ref" class="form-control validate">
                            <option value="none">None</option>
                            {% for nav in dropdowns %}
                            <option value={{nav.nav_name}}>{{nav.nav_name}}</option>
                            {% endfor %}
                          </select>
                          <label data-error="wrong" data-success="right" for="orangeForm-email">
                            ref to drop-down
                          </label>
                        </div>
                      </div> 
                    <div class="modal-footer d-flex justify-content-center">
                      <button class="btn btn-warning" type="submit">Update navigation</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- end of edit navigation modal form -->
              {%endfor%}

            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer small text-muted">
        Updated yesterday at 11:59 PM
      </div>
    </div>
  </div>

  <div class="col-md-4 mx-auto">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>
        Add New navigation

      </div>

      <div class="row">
        <div class="card-body">
          <div class="col-md-8 mx-auto">
            <form action="{{ url_for('navigation') }}" method="POST" class="navigationForm">
              <div class="form-group">
                <label for="">navigation Name</label>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="hidden" name="nav_id" value="">
                <input type="text" name="nav_name" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="">navigation URL</label>
                <input type="text" name="nav_url" class="form-control" required>
              </div>
              <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="orangeForm-email">
                  make drop-down
                </label>
                <select name="nav_dd" id="nav_dd" class="form-control validate" required>
                  <option value="" default>select...</option>
                  <option value="No">No</option>
                  <option value="Yes">Yes</option>
                </select>
                
              </div>
              <div class="md-form mb-5 ref">
                <label data-error="wrong" data-success="right" for="orangeForm-email">
                  ref to drop-down
                </label>
                <select name="nav_ref" id="nav_ref" class="form-control validate">
                  <option value="none">None</option>
                  {% for nav in dropdowns %}
                  <option value={{nav.nav_name}}>{{nav.nav_name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div>
                <input type="submit" value="Add New Navigation" class="btn btn-primary">
              </div>
            </form>
          </div>
        </div>

      </div>
      <div class="card-footer small text-muted">
        <a href="{{url_for('dashboard')}}">Go To DashBoard</a>
      </div>
    </div>
  </div>
</div>
{% endblock main %}


{% block script %}
<script>
  $(document).ready(function () {
    $('.navigationForm select[name="nav_dd"]').change(function () {
        if ($('.navigationForm select[name="nav_dd"]').val() == 'Yes') {
            $('.ref').hide();
        } else {
            $('.ref').show();
        }
    });
  });

  $(document).ready(function () {
    $('#navForm select[name="nav_dd"]').change(function () {
      if ($('#navForm select[name="nav_dd"]').val() == 'Yes') {
          $('#ref2').hide();
      } else {
          $('#ref2').hide();
      }
    });
  });
</script>
{% endblock script %}
