{% extends 'admin/layout/template.html' %}

{% block head %}
{% endblock head %}

{% block main %}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{{ url_for('viewPost') }}">View Post</a>
  </li>
  <li class="breadcrumb-item active">
      {% if edit.post_id %}
      Edit Existing Post
    {%else%}
      Add New Post
    {%endif%}
  </li>
</ol>

<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    {% if edit.post_id %}
      Edit Post
    {%else%}
      New Post
    {%endif%}
  </div>
  <div class="card-body">
      <div class="col-md-8 mx-auto">
        <form action="{{ url_for('newPost') }}" method="POST" enctype="multipart/form-data">
          
          <div class="form-group">
              <label for="">Post Title</label>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <input type="hidden" name="id" value="{{ edit.post_id }}" class="form-control" required>
            <input type="text" name="post_title" value="{{ edit.post_title }}" class="form-control" required>
          </div>
          <div class="form-group">
              <label for="">Post Url</label>
              <input type="text" name="post_url" value="{{ edit.post_url }}" class="form-control" placeholder="please fill carefully and dont ever change it after saving" required>
          </div>

          <div class='row'>
            <div class="form-group col-md-6" >
                <label for="">Post author</label>
                <select name="post_author" class="form-control" value="{{ edit.post_author }}" required> 
                    {% if edit.post_id %}
                      <option value="{{edit.author.id}}" selected>{{ edit.author.admin_username }}</option>
                      {% for admin in admins %}
                      <option value="{{admin.id}}" >{{admin.admin_username}}</option>
                      {% endfor %}
                    {%else%}
                      {% for admin in admins %}
                      <option value="{{admin.id}}" >{{admin.admin_username}}</option>
                      {% endfor %}
                    {%endif%}
                </select>  
            </div>
            <div class="form-group col-md-6" >
                <label for="">Navigation</label>
                <select name="post_nav" class="form-control" required >

                    {% if edit.post_id %}
                      <option value="{{edit.navigation.nav_id}}" selected>{{ edit.navigation.nav_name }}</option>
                      {% for navigation in navigations %}
                        {% if navigation.nav_dd == 'No' and navigation.nav_id != edit.navigation.nav_id %}
                      <option value="{{navigation.nav_id}}" >{{navigation.nav_name}}</option>
                        {% endif %}
                      {% endfor %}
                    {%else%}
                      {% for navigation in navigations %}
                        {% if navigation.nav_dd == 'No' %}
                      <option value="{{navigation.nav_id}}" >{{navigation.nav_name}}</option>
                        {% endif %}
                      {% endfor %}
                    {%endif%}

                </select>  
            </div>
          </div>

            <div class="form-group col-md-12 " >
              <label for="">Category</label>
              <div>
                  {% if edit.post_id %}
                    {% for category in categories %}
                      {% if category in edit.category.all()%}
                        <input type="checkbox" value="{{category.cat_id}}" id="scales" name="post_cat" checked>
                        <label for="scales">{{ category.cat_name }} &nbsp;&nbsp;</label>
                      {%else%}
                        <input type="checkbox" value="{{category.cat_id}}" id="scales" name="post_cat">
                        <label for="scales">{{ category.cat_name }} &nbsp;&nbsp;</label>
                      {% endif %} 
                    {% endfor %}
                  {%else%}
                    {% for category in categories %}
                        <input type="checkbox" value="{{category.cat_id}}" id="scales" name="post_cat">
                        <label for="scales">{{ category.cat_name }} &nbsp;&nbsp;</label>
                    {% endfor %}
                  {%endif%} 
              </div>
            </div>

          <div class="form-group">
            <label for="featured">Featured Image</label>
            <input type="file" onchange="validateFileType(this)" class="form-control" name="featured" id="featured">
          </div>
          {% if edit.post_id %}
            <div id="del_feat">
              <p id="post_id" class="hidden" >{{ edit.post_id }}</p>
              <img id="img_feat" src="{{ url_for('static', filename='uploads/' + edit.featured_img) }}" width="300" height="300" class="img-fluid img-thumbnail" alt=""> <br>
              <a href="#" id="del_featured" class="btn btn-danger mt-3 mb-5" onclick="return confirm('Do you really want to delete file')">Delete</a>
            </div>
          {% endif %}

          <div class="form-group">
            <label for="ckeditor">Post Summary</label>
            <textarea class="form-control" name="summary" id="summary" cols="30" rows="3" placeholder="Not More Than 200 Characters">{{ edit.post_summary }}</textarea>
            <br>
          </div>

          <div class="form-group">
              <label for="ckeditor">Post Content</label>
              {{ ckeditor.create(value=edit.post_content) }}<br>
          </div>

          <div class="form-group col-md-12" >
              <label for="">Post Status</label>
              <select name="status" class="form-control" value="{{ edit.status }}" required>
                  {% if edit.post_id %}
                  <option value="{{edit.status}}" selected>{{ edit.status }}</option>
                  <option value="published" >Published</option>
                  <option value="pending" >Pending</option>
                  {%else%}
                  <option value="published" >Published</option>
                  <option value="pending" >Pending</option>
                  {%endif%}  
              </select>  
          </div>

          <div>
              {% if edit.post_id %}
                <input type="submit" value="Update Post" class="btn btn-primary">
              {%else%}
                <input type="submit" value="Add New Post" class="btn btn-primary">
              {%endif%}
          </div>

        </form>
      </div>
    
  </div>
  <div class="card-footer small text-muted">
    <a href="{{url_for('dashboard')}}">Go To Dashboard</a>
  </div>
</div>
{% endblock main %}





{% block script %}

  {{ ckeditor.load(pkg_type="standard") }}
  {{ ckeditor.config(height=600) }}

<script>
  let file = document.getElementById("featured");
  function validateFileType(elem){
    var fileName = file.value,
    idxDot = fileName.lastIndexOf(".") + 1,
    extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
    if (!(extFile=="jpg" || extFile=="jpeg" || extFile=="png" || extFile=="gif")){
      alert("Only jpg/jpeg and png files are allowed!");
      file.value = "";  // Reset the input so no files are uploaded
    }
  }
</script>

<script type=text/javascript>
  $(document).ready(function(){
    $('#del_featured').bind('click', function() { 
      $.getJSON('/delFeatured',{
        src : $('#img_feat').attr('src'),
        post_id: $('#post_id').html()
      },
          function(data) {
            $("#del_feat").hide();
            alert("Photos deleted "+ img_feat.toString());
      });
      return false;
    });
  });
</script>

<!-- <script>
  $("#del_featured").click(function(){
    var img_feat = $('#img_feat').attr('src');
    $.ajax({
      type: 'POST',
      url: "/delFeatured",
      data: {src: img_feat},
      dataType: "text",
      success: function(data){
                 alert("Deleted Student ID "+ img_feat.toString());
               }
    });
});
</script> -->


 
{% endblock script %}
