{% extends 'admin/layout/template.html' %}
{% block main %}
			
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url_for('newPost') }}">New Post</a>
    </li>
    <li class="breadcrumb-item active">View Post</li>
  </ol>

  <!-- flash message -->
  <div class="row">
      <div class="col-md-8 mx-auto">
        {%with messages = get_flashed_messages()%}
        {%if messages%}
          {%for message in messages%}
          <div class='alert alert-success alert-dismissable text-center' role='alert' aria-label="close">
            <button data-dismiss='alert' class='close'>
              <span aria-hidden="true">x</span>
            </button>
            {{message}}
          </div>
          {%endfor%}
        {%endif%}
      {%endwith%}
      </div>
    </div>
 
  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Post Table
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>#</th>
              <th>Post Title</th>
              <th>Post Author</th>
              <th>Post Category</th>
              <th>Post Date</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
                <th>#</th>
                <th>Post Title</th>
                <th>Post Author</th>
                <th>Post Category</th>
                <th>Post Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
          </tfoot>
          <tbody>
            {% for post in posts %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ post.post_title }}</td>
              <td>{{ post.author.admin_username }}</td>
              <td>
                <ul>
                  {% for cat in post.category.all() %}
                  <li><h6>{{ cat.cat_name }}</h6></li>
                  {% endfor %}
                </ul>
              </td>
              <td>{{ post.post_date.strftime("%B %d , %Y") }}</td>
              <td>{{ post.status }}</td>
              <td>
                <a href="{{url_for('newPost', id=post.post_id)}}" class="btn btn-warning">Edit</a>
                <a href="{{ url_for('post_del', del_id=post.post_id)}}" class="btn btn-danger" onclick="return confirm('Do you really want to delete file')">Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock main %}