{% extends "public/layout/template.html" %}

{% block widget %}
<!-- Start top-category-widget Area -->

  <!-- End top-category-widget Area -->
  {% endblock widget %}


{% block main %}
<!-- Blog Post -->
{% for post in posts.items %}
{% if post.status == 'published' %}
<!-- single post starts here -->
    <div class="single-post row">
      <div class="col-lg-3  col-md-3 meta-details">
        <ul class="tags"><h5><b>Category: </b></h5>
          {% for cat in post.category.all() %}
          <li><a href="{{ url_for('cat', cat_name=cat.cat_name) }}">&nbsp; {{ cat.cat_name }} <b>&nbsp;|</b></a></li>
          {% endfor %}
        </ul>
        <div class="user-details row">
          <p class="user-name col-lg-12 col-md-12 col-6">{{ post.author.admin_username }}<span class="lnr lnr-user"></span></p>
          <p class="date col-lg-12 col-md-12 col-6">
            <time date="{{ post.post_date.strftime('%B %d, %Y') }}" pubdate>
              {{ post.post_date.strftime("%B %d, %Y") }}
            </time>
            <span class="lnr lnr-calendar-full"></span>
          </p>
          <p class="comments col-lg-12 col-md-12 col-6">
              {{post.comment|length }}
              {% if post.comment|length <= 1 %}
               Comment
              {%elif post.comment|length > 1 %}
                Comments
              {% endif %} 
            <span class="lnr lnr-bubble"></span>
          </p>
      </div>
    </div>
    <div class="col-lg-9 col-md-9">
    <a class="posts-title" href="{{url_for('post', post_url=post.post_url )}}">
      <h3 style="text-align:center">{{ post.post_title }}</h3></a> 
    {% if post.featured_img %}
      <div class="feature-img">
        <figure>
          <a href="{{url_for('post', post_url=post.post_url )}}">
          <img
            class="img-fluid"
            src="{{url_for('static', filename='uploads/' + post.featured_img)}}"
            alt="post featured image"
          /></a>
        </figure>
        
      </div>
    {% endif %}
      <p class="excert">
        {{ post.post_summary }}
        <span><a href="{url_for('post', post_url=post.post_url )}}">{...}</a></span>
      </p>
      <a href="{{url_for('post', post_url=post.post_url )}}" class="primary-btn">View More</a>
    </div>
  </div><hr>
  <!-- single post ends here -->
{% endif %}
{% endfor %}

  <nav class="blog-pagination justify-content-center d-flex">
      <ul class="pagination">
        {% if posts.has_prev %}
        <li class="page-item" style="background-color:#8490FF">
          <a class="page-link" href="{{ prev_url }}"><h3 style="color:white">&larr; Newer</h3></a>
        </li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
        {% if posts.has_next %}
          <li class="page-item" style="background-color:#8490FF; color:white">
            <a class="page-link" href="{{ next_url }}"><h3 style="color:white">Older &rarr;</h3></a>
          </li>
        {% endif %}
      </ul>
    </nav>
    
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $('img').addClass('img-fluid');
     });
</script>
{% endblock script %}