{% extends "public/layout/template.html" %}
{% block widget %}
{% endblock widget %}

{% block main %}
<!-- Start post-content Area -->
{% if post.featured_img %}
  <div class="single-post row">
      <h1 class="mt-20 mb-10 ml-30">{{ post.post_title }}</h1>
    <div class="row col-lg-12">  
        <div class="col-lg-3  col-md-3 meta-details">
          <ul class="tags"><h5><b>Category: </b></h5>
            {% for cat in post.category.all() %}
            <li><a href="#">&nbsp; {{ cat.cat_name }} <b>&nbsp;|</b></a></li>
            {% endfor %}
          </ul>
          <div class="user-details row">
            <p class="user-name col-lg-12 col-md-12 col-6">
              {{ post.author.admin_username }}
              <span class="lnr lnr-user"></span>
            </p>
            <p class="date col-lg-12 col-md-12 col-6">
              <time date="{{ post.post_date.strftime('%B %d, %Y') }}" pubdate>
                {{ post.post_date.strftime("%B %d, %Y") }}
              </time>
              <span class="lnr lnr-calendar-full"></span>
            </p>
            <p class="comments col-lg-12 col-md-12 col-6">
              {{post_comment_count}}
              {% if post_comment_count <= 1 %}
               Comment
              {%elif post_comment_count > 1 %}
                Comments
              {% endif %}
              <span class="lnr lnr-bubble"></span>
            </p>
          </div>
        </div>
        <div class="col-lg-9 col-md-9">
          <div class="col-lg-12">
            <div class="feature-img">
              <a href="{{url_for('post', post_url=post.post_url )}}">
              <img class="img-fluid img-thumbnail" height="350" width="750" src="{{url_for('static', filename='uploads/' + post.featured_img)}}" alt="image here" />
              </a>
            </div>
          </div>
        </div>
    </div>
      <div class="col-lg-12">
        <p class="excert">
            {{ post.post_content | safe }}
        </p>
      </div>
  </div>
{%else%}
<div class="single-post row">
  <h3 class="mt-20 mb-10 ml-30">{{ post.post_title }}</h3>
<div class="row col-lg-12">  
    <div class="col-lg-12  col-md-12 meta-details">
      <ul class="tags"><h5><b>Category: </b></h5>
        {% for cat in post.category.all() %}
        <li><a href="#">&nbsp; {{ cat.cat_name }} <b>&nbsp;|</b></a></li>
        {% endfor %}
      </ul>
      <div class="user-details row">
        <p class="user-name col-lg-12 col-md-12 col-6">
          {{ post.author.admin_username }}
          <span class="lnr lnr-user"></span>
        </p>
        <p class="date col-lg-12 col-md-12 col-6">
          <time date="{{ post.post_date.strftime('%B %d, %Y') }}" pubdate>
            {{ post.post_date.strftime("%B %d, %Y") }}
          </time>
          <span class="lnr lnr-calendar-full"></span>
        </p>
        <p class="comments col-lg-12 col-md-12 col-6">
          {{post_comment_count}}
          {% if post_comment_count <= 1 %}
           Comment
          {%elif post_comment_count > 1 %}
            Comments
          {% endif %}
          <span class="lnr lnr-bubble"></span>
        </p>
      </div>
    </div>
   <div class="col-lg-12">
    <p class="excert">
        {{ post.post_content | safe }}
    </p>
  </div> 
</div>
  
</div>

{% endif %}

  <div class="navigation-area">
    <div class="row">
      <!-- checking that the current post id is not equal to zero -->
      {% if prev_art %}
        <div
          class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center"
        >
          <div class="thumb">
            <a href="{{ url_for('post', post_url=prev_art.post_url) }}"
              ><img class="img-fluid" height="100" width="100" src="{{url_for('static', filename='uploads/' + prev_art.featured_img)}}" alt=""
            /></a>
          </div>
          <div class="arrow">
            <a href="{{ url_for('post', post_url=prev_art.post_url) }}"
              ><span class="lnr text-white lnr-arrow-left"></span
            ></a>
          </div>
          <div class="detials">
            <p><a href="{{ url_for('post', post_url=prev_art.post_url) }}">Prev Post</a></p>
            <a href="{{ url_for('post', post_url=prev_art.post_url) }}"><h4>{{ prev_art.post_title }}</h4></a>
          </div>
        </div>
        {% endif %}
        
        {% if next_art %}
      <div
        class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center"
      >
        <div class="detials">
          <p><a href="{{ url_for('post', post_url=next_art.post_url) }}">Next Post</a></p>
          <a href="{{ url_for('post', post_url=next_art.post_url) }}"><h4>{{ next_art.post_title }}</h4></a>
        </div>
        <div class="arrow">
          <a href="{{ url_for('post', post_url=next_art.post_url) }}"
            ><span class="lnr text-white lnr-arrow-right"></span
          ></a>
        </div>
        <div class="thumb">
          <a href="{{ url_for('post', post_url=next_art.post_url) }}"
            ><img class="img-fluid" height="100" width="100" src="{{url_for('static', filename='uploads/' + next_art.featured_img)}}" alt=""
          /></a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>


<!-- comments section both main and replied comments -->
  <div class="comments-area">
    <h4>
      {{post_comment_count}}
      {% if post_comment_count <= 1 %}
        Comment
      {%elif post_comment_count > 1 %}
        Comments
      {% endif %}
  </h4>
      {% for comment in comments %}
      {% if comment %}
    <div class="comment-list">
      <hr>
      
      <div class="single-comment justify-content-between d-flex">
        <div class="user justify-content-between d-flex">
          <div class="thumb" >
            <img class= "img-thumbnail rounded-circle" src="{{ url_for('static', filename='public/img/noimg.jpg') }}" alt="" />
          </div>
          <div class="desc">
            <h5>{{ comment.name }}</h5>
            <p class="date">{{ comment.date.strftime("%B %d, %Y") }}</p>
            <p class="comment">
                {{ comment.content }}
            </p>
          </div>
        </div>
        <!-- <div class="reply-btn">
            <button class="btn-reply text-uppercase" onclick="hideShow()"><i class="fa fa-reply"></i>
            </button>
        </div> -->
      </div>
<!-- nested comment section -->
      <!-- <div class="comment-list left-padding mt-20 mb-20">
          <div class="single-comment justify-content-between d-flex">
            <div class="user justify-content-between d-flex">
              <div class="thumb">
                <img class= "img-thumbnail rounded-circle" src="{{ url_for('static', filename='public/img/noimg.jpg') }}" alt="" />
              </div>
              <div class="desc">
                <h5><a href="#">Elsie Cunningham</a></h5>
                <p class="date">December 4, 2017 at 3:12 pm</p>
                <p class="comment">
                  Never say goodbye till the end comes!
                </p>
              </div>
            </div>
            <div class="reply-btn">
              <button class="btn-reply text-uppercase"><i class="fa fa-reply"></i>
              </button>
            </div>
          </div>
          </div>

    <div class="comment-form replyForm">
        <h4>Leave a Comment</h4>
        <form method="POST" action="{{ url_for('post', post_url=post.post_url) }}">
          <div class="form-group form-inline">
            <div class="form-group col-lg-6 col-md-12 name">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="text" class="form-control" onblur="this.placeholder = 'Enter Name'" onfocus="this.placeholder = ''" id="name" name="name" placeholder="Fullname">
                <input type="hidden" name="post_id" value="{{ post.post_id }}">
            </div>
            <div class="form-group col-lg-6 col-md-12 email">
                <input type="email" id="email" onblur="this.placeholder = 'Enter email address'" onfocus="this.placeholder = ''" class="form-control" name="email" placeholder="Enter email address">
            </div>
          </div>
          <div class="form-group">
              <textarea class="form-control mb-10" onfocus="this.placeholder = ''" name="content" rows="5" placeholder="Contents here..."></textarea>
          </div>
          <button type="submit" class="primary-btn text-uppercase">Reply Comment</button>
        </form>
      </div> -->
  </div>
  {% endif %}
  {% endfor %}
 
</div>
<div class="comment-form">
    <h4>Leave a Comment</h4>
    <form method="POST" action="{{ url_for('post', post_url=post.post_url) }}">
      <div class="form-group form-inline">
        <div class="form-group col-lg-6 col-md-12 name">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="text" class="form-control" onblur="this.placeholder = 'Enter Name'" onfocus="this.placeholder = ''" id="name" name="name" placeholder="Fullname" required>
            <input type="hidden" name="post_id" value="{{ post.post_id }}">
        </div>
        <div class="form-group col-lg-6 col-md-12 email">
            <input type="email" id="email" onblur="this.placeholder = 'Enter email address'" onfocus="this.placeholder = ''" class="form-control" name="email" placeholder="Enter email address" required>
        </div>
      </div>
      <div class="form-group">
          <textarea class="form-control mb-10" onfocus="this.placeholder = ''" name="content" rows="5" placeholder="Contents here..." required></textarea>
      </div>
      <button type="submit" class="primary-btn text-uppercase">Post Comment</button>
    </form>
  </div>
<!-- End post-content Area -->          
{% endblock main %}


{% block script %}
<script>
  $(document).ready(function(){
    $('img').addClass('img-fluid');
    $('.replyForm').hide();
     });

function hideShow() {
  var x = document.getElementsByClassName("replyForm");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
  
</script>
{% endblock script %}