{% extends "public/layout/template.html" %}

{% block page_heading %}
<h1 class="my-4">
  404
  <small>Page Not Found</small>
</h1>
{% endblock page_heading %}


{% block widget %}
{% endblock widget %}


{% block main %}
<div class="container-fluid">

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item active">404 Error page not found</li>
</ol>

<!-- Page Content -->
<h1 class="display-1">404</h1>
<p class="lead">Page not found. You can
  <a href="javascript:history.back()">go back</a>
  to the previous page, or
  <a href="{{ url_for('home') }}">return home</a>.</p>

</div>
  <!-- /.container-fluid -->
{% endblock %}

{% block script %}
{% endblock script %}
